body {
  background-color: black;
  color: white;
}
.login {
  text-align: center;
  padding-top: 15%;
}
.input-field {
  height: 5vh;
  width: 22rem;
  font-size: 22px;
}
.btnLogin {
  height: 6vh;
  width: 8rem;
  background-color: antiquewhite;
  font-weight: bold;
  font-size: 22px;
  border-radius: 4px;
  cursor: pointer;
}
.dashboard {
  text-align: center;
}
.btn-position {
  display: flex;
  gap: 30px;
  justify-content: center;
}